body {
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  min-height: 100vh;
  font-family: Monospace;
  text-align: center;
}

input {
  font-family: Monospace;
  border-radius: 7px;
  background-color: #F5FBFF;
  text-align: center;
  width: 100px;
}

#num {
  text-align: center;
  width: 100px;
}

button {
  background-color: #9ABDDC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease 0.2s;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(0.8);
}
